.github/**
.vscode/**
common/**
out/**
scripts/**
src/**
test/**
webview/**
.eslintrc.json
.gitignore
.nvmrc
.prettierignore
.prettierrc
commitlint.config.js
jest.config.mjs
**/tsconfig.json
**/tsconfig.*.json
**/*.map
**/*.ts
