name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Install Node.js
        uses: actions/setup-node@v3.5.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            test/project/package-lock.json
      - name: Install Node dependencies
        run: npm ci
      - name: Package VSIX
        run: npm run package
      - name: Archive VSIX
        uses: actions/upload-artifact@v3
        with:
          name: vsix
          path: '*.vsix'
      - name: Test
        run: npm run test -- --coverage
      - name: Typecheck
        run: npm run typecheck
      - name: Lint
        run: npm run lint
      - name: Format
        run: npm run format
