name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install Node.js
        uses: actions/setup-node@v2.3.1
        with:
          node-version: 12.x
      - name: Install Node dependencies
        run: npm ci
      - name: Package VSIX
        run: npm run package
      - name: Archive VSIX
        uses: actions/upload-artifact@v2
        with:
          name: vsix
          path: '*.vsix'
      - name: Typecheck
        run: npm run typecheck
      - name: Lint
        run: npm run lint
      - name: Format
        run: npm run format
