name: Build and Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install Node.js
        uses: actions/setup-node@v2.3.0
        with:
          node-version: 12.x
      - name: Install Node dependencies
        run: npm ci
      - name: Package VSIX
        run: npm run package
      - name: Archive VSIX
        uses: actions/upload-artifact@v2
        with:
          name: vsix
          path: '*.vsix'
      - name: Typecheck
        run: npm run typecheck
      - name: Lint
        run: npm run lint
      - name: Format
        run: npm run format
      - name: Publish to marketplace
        run: npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - name: Generate changelog
        run: touch null.txt && npx standard-changelog -o changelog.release.md -r 2 -i null.txt
      - name: Read changelog
        id: changelog
        run: |
          export CHANGELOG="$(cat changelog.release.md)"
          CHANGELOG="${CHANGELOG//'%'/'%25'}"
          CHANGELOG="${CHANGELOG//$'\n'/'%0A'}"
          CHANGELOG="${CHANGELOG//$'\r'/'%0D'}"
          echo "::set-output name=changelog::$(echo "$CHANGELOG")"
      - name: Create release
        uses: svenstaro/upload-release-action@2.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: '*.vsix'
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          body: ${{ steps.changelog.outputs.changelog }}
