name: Version and Tag

on:
  workflow_dispatch:
    inputs:
      releaseAs:
        type: choice
        description: 'Release type'
        options:
          - default
          - patch
          - minor
          - major
        default: default
        required: true

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          token: ${{ secrets.GIT_PUSH_TOKEN }}
          fetch-depth: 0
      - name: Configure committer
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Install Node.js
        uses: actions/setup-node@v3.5.1
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            test/project/package-lock.json
      - name: Install Node dependencies
        run: npm ci
      - name: Bump version (detect type)
        if: ${{ inputs.releaseAs == 'default' }}
        run: npm run release
      - name: Bump version (override --releaseAs)
        if: ${{ inputs.releaseAs != 'default' }}
        run: npm run release -- --release-as ${{ inputs.releaseAs }}
      - name: Push changes
        run: |
          git push --follow-tags
